*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-grey);
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* body::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.85);
} */

:root {
  --grey: #1a1a1a;
  --dark-grey: #111111;
  --light-blue: #a4c2f4;
  --dark-blue: #00213e;
}
