.posts_section {
  width: 100%;
  min-height: calc(100vh - 7.5vw);
  margin-top: 7.5vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2vw;
}

.month {
  transition: 500ms;
  margin-top: 8.5vh;
  color: white;
  opacity: 0;
  font-family: "Nunito Sans";
  font-size: clamp(30px, 3vw, 3vw);
  transform: translateY(25px);
}

.month_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.month_div {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0px 15px;
  margin-bottom: 2vh;
}

.load_more {
  transition: 250ms;
  color: rgba(255, 255, 255, 0.25);
  font-family: "Nunito Sans";
  margin: auto 0px;
  font-size: clamp(1rem, 1.25vw, 1.25vw);
  transform: translateY(calc(1vw - 10px));
  animation: fadeIn 250ms ease 1;
}

.add_post {
  transition: 500ms;
  opacity: 0;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9ceeff;
  cursor: pointer;
  font-size: 1.25rem;
  z-index: 1000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.load_more:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 950px) {
  .add_post {
    margin-top: 50px;
    z-index: initial;
  }
}

@media (max-width: 500px) {
  .posts_section {
    margin-top: 100px;
  }
  .month {
    margin-top: 25px;
  }
}
